<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mp3">

    <!-- 네트워크 권한 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sj_logo"
        android:label="SeoJeong's Music Player"
        android:theme="@style/Theme.Mp3PlayerDemo"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true">

    <!-- SplashActivity를 런처로 설정 -->
    <activity
        android:name=".SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <!-- MainActivity (Splash 후 이동) -->
    <activity
        android:name=".MainActivity"
        android:exported="true" />
    </application>

</manifest>
